.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: $font-nove;
  text-transform: uppercase;
}

.h1{
  font-size: 60px;
  line-height: 1;
  @media (screen(sm)) {
    font-size: 100px;
  }
  @media (screen(md)) {
    font-size: 140px;
  }
  @media (screen(lg)) {
    font-size: 200px;
  }
  @media (screen(2xl)) {
    font-size: 250px;
  }
}

.h2{
  font-size: 30px;
  line-height: 1;
  @media (screen(sm)) {
    font-size: 35px;
  }
  @media (screen(md)) {
    font-size: 45px;
  }
  @media (screen(2xl)) {
    font-size: 60px;
  }
}