// global
$global-padding:          15px;
$global-transition:       cubic-bezier(.54,.04,.4,.96);

// fonts
$font-nove:               'Novecento Sans Wide';

// colors
$color-white:              #ffffff;
$color-gray-lightest:      #f2f2f2;
$color-gray-lighter:       #bfbfbf;
$color-gray-light:         #55565A;
$color-gray:               #313338;
$color-gray-dark:          #2f2f2f;
$color-black:              #000000;

$color-blue-light:         #000de2;
$color-blue-dark:          #00012a;
$color-green-light:        #2ee64d;
$color-yellow-light:       #fff21d;

$color-sand:               #fffed5;